{% extends "base.html" %}

{% block title %}Contato{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Entre em contato</h1>
</div>
{% if mensagem %}
<p class="alert alert-success">{{ mensagem }}</p>
{% endif %}
<form action="/contato" method="post">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" name="nome" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" name="email" required>
    </div>
    <div class="mb-3">
        <label for="mensagem" class="form-label">Mensagem</label>
        <textarea class="form-control" name="mensagem" rows="4" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<br>
{% endblock %}
