{% extends "base.html" %}

{% block title %}Nossos Produtos{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Nossos Produtos</h1>
</div>
<div class="card-group">
    <div class="card">
      <img src="/static/ims/rppp3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Blusa de Seda com Decote V
        </h5>
        <p class="card-text">R$ 149,90
            <br>
            Elegante e sofisticada, esta blusa de seda com decote V é a escolha ideal para momentos especiais ou para um look mais refinado no dia a dia. </p>
      </div>
    </div>
    <div class="card">
      <img src="/static/ims/rppp2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Blusa de Manga Longa em Tricot
        </h5>
        <p class="card-text">R$ 99,90
            <br>
            Conforto e estilo em uma peça só! A blusa de manga longa em tricot traz um toque aconchegante para os dias mais frescos, com uma modelagem ajustada que valoriza o corpo.</p>
      </div>
    </div>
    <div class="card">
      <img src="/static/ims/rppp.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Blusa de Manga Curta Básica
        </h5>
        <p class="card-text">R$ 49,90
            <br>
            A blusa de manga curta básica é um clássico essencial para qualquer guarda-roupa. Feita em malha de alta qualidade, ela oferece o equilíbrio perfeito entre conforto e estilo.</p>
      </div>
    </div>
  </div>
  <br>
  <div class="card-group">
    <div class="card">
      <img src="/static/ims/rpp7.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Calça Jeans Skinny
        </h5>
        <p class="card-text">R$ 119,90
            <br>
            A calça jeans skinny é um clássico que não pode faltar no seu guarda-roupa. Com uma modelagem que valoriza o corpo, ela é superconfortável e fácil de combinar.</p>
      </div>
    </div>
    <div class="card">
      <img src="/static/ims/rpp5.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vestido Elegante
        </h5>
        <p class="card-text">R$ 139,90
            <br>
            Com um toque delicado e cheio de charme, este vestido floral é a escolha perfeita para os dias mais frescos ou para aquela ocasião especial.</p>
      </div>
    </div>
    <div class="card">
      <img src="/static/ims/rpp4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Blusa de Tricot Oversized
        </h5>
        <p class="card-text">R$ 89,90
            <br>
            Conforto e estilo em uma peça única! Esta blusa de tricot oversized traz aquele toque moderno e aconchegante que você procura. </p>
      </div>
    </div>
  </div>
  <br>

{% endblock %}


